@import "../../styles/variables";

.container {
  position: absolute;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 8px;
  bottom: 20px;
  border-radius: 2px;
  right: 20px;
  background-color: #7e1d1d;
  color: $main-color;
  animation: fade 0.45s ease forwards;
}

.closeButton {
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  color:transparent;
  background-color: inherit;
  margin-left: 15px;
}

.message {
  margin: 0;
  font-family: $main-font;
}

@keyframes fade {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
