@import "../../styles/variables";
.card {
  display: block;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 100%;
  height: 100%;
}

.book_title {
  color: $main-color;
  margin: 10px 0 0 10px;
  word-break: break-all;
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
}
