.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  line-height: 28.15px;
  letter-spacing: 2.16px;
  font-weight: 300;
  color: #ffffff;

  padding-left: 35px;

  margin: 0 0 20px 0;
}

.item--small {
  width: 140px;
  min-height: 215px;
}

.item--small img {
  height: 215px;
}

.item--big {
  width: 210px;
  min-height: 322px;
}

.item--big img {
  height: 322px;
}

.item-link {
  display: block;
  height: 100%;
  width: 100%;
}

.button {
  position: absolute;
  opacity: 0.6;
  width: 40px;
  height: 60px;
  background-color: rgb(30, 30, 30);
  font-size: 0;
  border: none;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.2;
  }

  &--small {
    transform: translateY(-50%);
  }

  &--big {
    transform: translateY(-50%);
  }
}

.next-button {
  z-index: 2;
  overflow: visible;
  right: 10px;
}

.prev-button {
  left: 10px;
}