@import "../../styles/variables";

.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  line-height: 28.15px;
  letter-spacing: 2.16px;
  font-weight: 300;
  color: $main-color;

  padding-left: 35px;

  margin: 0 0 20px 0;
}

.item_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-right: 20px;
  box-shadow: 0 0 5px 0 #e7e7e7;
  transform: scale(0.95);

  &:hover {
    transform: scale(0.96);
    box-shadow: 0 0 5px 0 #c5c5c5;
  }
}

.item--small .item_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;

  min-height: 160px;
  width: 134px;
  @media (min-width: 1200px) {
    min-height: 215px;
    width: 170px;
  }
}

.item--big .item_content {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 215px;
  width: 170px;
  @media (min-width: 1200px) {
    min-height: 322px;
    width: 240px;
  }
}

.item--small img {
  height: 160px;
  width: 104px;
  @media (min-width: 1200px) {
    height: 215px;
    width: 140px;
  }
}

.item--big img {
  height: 215px;
  width: 140px;
  @media (min-width: 1200px) {
    height: 322px;
    width: 210px;
  }
}

.item-link {
  display: block;
  height: 100%;
  width: 100%;
}

.button {
  position: absolute;
  opacity: 0.8;
  width: 40px;
  height: 60px;
  background-color: $button-color;
  font-size: 0;
  border: none;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.2;
  }

  &--small {
    transform: translateY(-50%);
  }

  &--big {
    transform: translateY(-50%);
  }
}

.next-button {
  z-index: 2;
  overflow: visible;
  right: 10px;
}

.prev-button {
  left: 10px;
}