.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  line-height: 28.15px;
  letter-spacing: 2.16px;
  font-weight: 300;
  color: #ffffff;

  padding-left: 35px;
  margin: 0;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  list-style: none;
  flex-grow: 1;
  padding: 0;
}

.item {

}

.item--small {
  width: 140px;
  min-height: 215px;
}

.item--small img {
  height: 215px;
}

.item--big {
  width: 210px;
  min-height: 322px;
}

.item--big img {
  height: 322px;
}

.item-link {
  display: block;
  height: 100%;
  width: 100%;
}

.button {
  opacity: 0.4;
  width: 40px;
  height: 60px;
  background-color: rgb(30, 30, 30);
  font-size: 0;
  border: none;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.2;
  }

  &--small {
    transform: translateY(-50%);
  }

  &--big {
    transform: translateY(-50%);
  }
}

.prev-button {
  margin-right: 15px;
}

.next-button {
  margin-left: 15px;
}