$main-background: #ffffff;
$dark-grey: #9f9f9f;
$button-color: #0056a6;
$button-light-color: #478bda;
$danger: darkred;
$main-font: 'OpenSans Regular', 'Calibri', sans-serif;
$logo-font: 'Libre Barcode 128 Text', system-ui;
$main-letter-spacing: 1px;
$main-color: rgb(1, 1, 5);
$white-text-color: #ffffff;