$main-background: #0c0c0c;
$dark-grey: #161616;
$dark-purple: #3b1c60;
$light-purple: #763fd0;
$danger: darkred;
$main-font: 'Work Sans', sans-serif;
$logo-font: 'Libre Barcode 128 Text', system-ui;
$main-letter-spacing: 1.6px;
$main-color: #D8CCBF;